.cart-widget {
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}

.cart-widget__count {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    font-size: 20px;
    text-align: center;
}

.faShoppingCart {
    font-size: 1.5em;
}