.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    padding: 10px;
    color: var(--color-white);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    font-size: 1.2em;
}

.nav-bar__logo {
    width: 100px;
}

.nav-bar__logo:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 2em var(--color-white));
}

.nav-bar__logo img {
    width: 100%;
}

.nav-bar__cart {
    margin-right: 20px;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-left: 10px;
    cursor: pointer;
}

.navbar-item.active {
    font-weight: bold;
}

.navbar-item:hover {
    text-decoration: underline;
}

.active-link {
    font-weight: bold;
    text-decoration: underline;
}